<p>Length: <%=@length%> in</p>
<p>Width: <%=@width%> in</p>
<p>Height: <%=@height%> in</p>
<p>Weight: <%=@weight%> lbs</p>

<p>Volume: <%=@parcel_volume.volume()%> cubic inches</p>
<p>Cost: $<%=@cost.cost_to_ship()%></p>
